*.a
*.o
*.la
*.lo
*.pc
*.exe
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache
config.h
config.log
config.status
config/compile
config/config.guess
config/config.h.in
config/config.h.in~
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/config.guess
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
configure
desktopfiles/hi-djvu.svgz
desktopfiles/hi128-djvu.png
desktopfiles/hi16-djvu.png
desktopfiles/hi20-djvu.png
desktopfiles/hi22-djvu.png
desktopfiles/hi24-djvu.png
desktopfiles/hi256-djvu.png
desktopfiles/hi32-djvu.png
desktopfiles/hi48-djvu.png
desktopfiles/hi64-djvu.png
desktopfiles/hi72-djvu.png
desktopfiles/hi96-djvu.png
desktopfiles/register-djvu-mime
libtool
stamp-h1
xmltools/djvuxml.1
Makefile
