*.a
*.dh-orig
*.la
*.lo
*.o
*.pc
.libs/
/config.h
/config.log
/config.status
/desktopfiles/hi-djvu.svgz
/desktopfiles/hi22-djvu.png
/desktopfiles/hi32-djvu.png
/desktopfiles/hi48-djvu.png
/desktopfiles/hi64-djvu.png
/desktopfiles/register-djvu-mime
/i18n/ja/nsdejavu.1
/libtool
/tools/bzz
/tools/c44
/tools/cjb2
/tools/cpaldjvu
/tools/csepdjvu
/tools/ddjvu
/tools/djvm
/tools/djvmcvt
/tools/djvudump
/tools/djvuextract
/tools/djvumake
/tools/djvups
/tools/djvused
/tools/djvuserve
/tools/djvutxt
/xmltools/djvutoxml
/xmltools/djvuxml.1
/xmltools/djvuxmlparser
/BUILD*
Makefile
