#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Qt;Graphics;Viewer;
MimeType=image/x-djvu;image/x.djvu;image/vnd.djvu;
Name=DjView3
Exec=djview3 %f
Terminal=false
Icon=djvulibre-djview3
StartupWMClass=Djview
GenericName=DjVu Viewer
GenericName[ar]=عارض ملفات DjVu
GenericName[az]=DjVu Nümayişçisi
GenericName[bg]=Преглед на документи DjVu
GenericName[br]=Gweler DjVu
GenericName[bs]=Preglednik DjVu dokumenata
GenericName[ca]=Visualitzador de DjVu
GenericName[cs]=Prohlížeč DjVu souborů
GenericName[cy]=Gwelydd DjVu
GenericName[da]=DjVu-fremviser
GenericName[de]=DjVu-Betrachter
GenericName[el]=Προβολέας DjVu
GenericName[eo]=DjVu-rigardilo
GenericName[es]=Visor de DjVu
GenericName[et]=DjVu-failide näitaja
GenericName[eu]=DjVu ikustailua
GenericName[fi]=DjVu-näytin
GenericName[fr]=Afficheur DjVu
GenericName[ga]=Amharcán DjVu
GenericName[gl]=Visor DjVu
GenericName[he]=מציג DjVu
GenericName[hr]=Preglednik DjVu dokumenata
GenericName[hu]=DjVu-nézegető
GenericName[id]=Viewer DjVu
GenericName[is]=DjVu sjá
GenericName[it]=Visore DjVu
GenericName[ja]=DjVuビューア
GenericName[km]=កម្មវិធី​មើល DjVu
GenericName[lt]=DjVu Žiūriklis
GenericName[lv]=DjVu Skatītājs
GenericName[mk]=Прикажувач на DjVu датотеки
GenericName[ms]=Pemapar DjVu
GenericName[mt]=Werrej DjVu
GenericName[nb]=DjVu-fremviser
GenericName[nl]=DjVu-weergaveprogramma
GenericName[nn]=DjVu-lesar
GenericName[pa]=DjVu ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka plików DjVu
GenericName[pt]=Visualizador de DjVus
GenericName[pt_BR]=Visualizador de arquivos DjVu
GenericName[ro]=Vizualizor DjVu
GenericName[ru]=Чтение документов DjVu
GenericName[rw]=Mugaragaza DjVu
GenericName[se]=DjVu-čájeheaddji
GenericName[sk]=Prehliadač DjVu
GenericName[sl]=Pregledovalnik datotek DjVu
GenericName[sr]=DjVu приказивач
GenericName[sr@Latn]=DjVu prikazivač
GenericName[sv]=DjVu-visare
GenericName[ta]=DjVu காட்சி
GenericName[tg]=Хондани санадоти DjVu
GenericName[th]=ตัวแสดงผล DjVu
GenericName[tr]=DjVu Görüntüleyici
GenericName[uk]=Переглядач DjVu
GenericName[uz]=DjVu кўрувчи
GenericName[ven]=Tshivhoni tsha DjVu
GenericName[xh]=Umboniseli we DjVu
GenericName[zh_CN]=DjVu 查看器
GenericName[zh_HK]=DjVu 檢視器
GenericName[zu]=Umboniseli we DjVu
