[Desktop Entry]
# Installed by xdg-mime from djvulibre-mime.xml
Type=MimeType
MimeType=image/vnd.djvu
Icon=image-vnd.djvu
Comment=DjVu Document
Comment[af]=DjVu Dokument
Comment[ar]=مستند DjVu
Comment[az]=DjVu Sənədi
Comment[be]=Дакумэнт DjVu
Comment[bg]=Документ DjVu
Comment[bn]=পি-ডি-এফ নথী
Comment[br]=Teul DjVu
Comment[bs]=DjVu dokument
Comment[ca]=Document DjVu
Comment[cs]=DjVu dokument
Comment[cy]=Dogfen DjVu
Comment[da]=DjVu-dokument
Comment[de]=DjVu-Dokument
Comment[el]=Έγγραφο DjVu
Comment[eo]=DjVu-dokumento
Comment[es]=Documento DjVu
Comment[et]=DjVu-dokument
Comment[eu]=DjVu dokumentua
Comment[fa]=سند DjVu
Comment[fi]=DjVu-asiakirja
Comment[fr]=Document DjVu
Comment[fy]=DjVu-dokumint
Comment[ga]=Cáipéis DjVu
Comment[gl]=Documento DjVu
Comment[he]=מסמך DjVu
Comment[hr]=DjVu dokument
Comment[hu]=DjVu-dokumentum
Comment[is]=DjVu skjal
Comment[it]=Documento DjVu
Comment[ja]=DjVu ドキュメント
Comment[km]=ឯកសារ DjVu
Comment[ko]=DjVu 문서
Comment[lb]=DjVu-Dokument
Comment[lt]=DjVu dokumentas
Comment[lv]=DjVu dokuments
Comment[mk]=DjVu документ
Comment[mn]=DjVu-Баримт
Comment[ms]=Dokumen DjVu
Comment[mt]=Dokument DjVu
Comment[nb]=DjVu-dokument
Comment[nds]=DjVu-Dokment
Comment[nl]=DjVu-document
Comment[nn]=DjVu-dokument
Comment[nso]=Tokomane ya DjVu
Comment[pa]=DjVu ਦਸਤਾਵੇਜ਼
Comment[pl]=Dokument DjVu
Comment[pt]=Documento DjVu
Comment[pt_BR]=Documento DjVu
Comment[ro]=Document DjVu
Comment[ru]=Документ DjVu
Comment[rw]=DjVu Inyandiko
Comment[se]=DjVu-dokumeanta
Comment[sk]=DjVu dokument
Comment[sl]=Dokument DjVu
Comment[sq]=Dokument nga DjVu
Comment[sr]=DjVu документ
Comment[sr@Latn]=DjVu dokument
Comment[sv]=DjVu-dokument
Comment[ta]=DjVu ஆவணம்
Comment[tg]=Хуҷҷати DjVu 
Comment[th]=เอกสาร DjVu
Comment[tr]=DjVu Belgesi
Comment[tt]=DjVu İstälek
Comment[uk]=Документ DjVu
Comment[uz]=DjVu ҳужжати
Comment[ven]=Manwalwa a DjVu
Comment[wa]=Documint DjVu
Comment[xh]=Uxwebhu lwe DjVu
Comment[zh_CN]=DjVu 文档
Comment[zh_HK]=DjVu 文件
Comment[zh_TW]=DjVu 文件
Comment[zu]=Uhlu lwamafayela e-DjVu
Patterns=*.djvu;*.djv;
