<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>djvu</string>
				<string>DJVU</string>
				<string>djv</string>
				<string>DJV</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DjVu</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-djvu</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DjVu</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>DjVuFilter</string>
	<key>CFBundleIconFile</key>
	<string>DjVu</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpus-callosum.DjVuFilter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>DJVU</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSBGOnly</key>
	<string>1</string>
	<key>NSExecutable</key>
	<string>DjVuFilter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSExecutable</key>
			<string>DjVuFilter</string>
			<key>NSFilter</key>
			<string></string>
			<key>NSInputMechanism</key>
			<string>NSUnixStdio</string>
			<key>NSPortName</key>
			<string>DjVuLibreService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSTIFFPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSTypedFilenamesPboardType:djvu</string>
				<string>NSTypedFilenamesPboardType:DJVU</string>
				<string>NSTypedFilenamesPboardType:djv</string>
				<string>NSTypedFilenamesPboardType:DJV</string>
			</array>
			<key>NSTimeout</key>
			<string>300000</string>
		</dict>
	</array>
</dict>
</plist>
