[Desktop Entry]
Encoding=UTF-8
Name=DjView
MimeType=image/x-djvu;image/x.djvu;image/vnd.djvu
Exec=djview %f
Icon=djvu
Type=Application
GenericName=DjVu Viewer
GenericName[de]=DjVu-Betrachter
GenericName[es]=Visor de documentos DjVu
GenericName[fr]=Afficheur DjVu
GenericName[it]=Visualizzatore DjVu
GenericName[ja]=DjVuビューア
Terminal=0
Categories=Qt;Graphics
