[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=image/x-djvu
Icon=djvu
Patterns=*.djvu;*.DJVU;*.djv;*.DJV;
Comment=DjVu Document
Comment[af]=DjVu Dokument
Comment[ar]=مستند DjVu
Comment[az]=DjVu Sənədi
Comment[be]=Дакумэнт DjVu
Comment[bg]=Документ DjVu
Comment[bn]=পি-ডি-এফ নথী
Comment[bs]=DjVu dokument
Comment[ca]=Document DjVu
Comment[cs]=DjVu dokument
Comment[cy]=Dogfen DjVu
Comment[da]=DjVu-dokument
Comment[de]=DjVu-Dokument
Comment[el]=Έγγραφο DjVu
Comment[eo]=DjVu-dokumento
Comment[es]=Documento DjVu
Comment[et]=DjVu dokument
Comment[eu]=DjVu Dokumentua
Comment[fa]=سند DjVu
Comment[fi]=DjVu-asiakirja
Comment[fr]=Document DjVu
Comment[ga]=Cáipéis DjVu
Comment[gl]=Documento DjVu
Comment[he]=מסמך DjVu
Comment[hi]=पीडीएफ दस्तावेज
Comment[hu]=DjVu-dokumentum
Comment[is]=DjVu-skjal
Comment[it]=Documento DjVu
Comment[ja]=DjVu ドキュメント
Comment[ko]=DjVu 문서
Comment[lt]=DjVu dokumentas
Comment[mn]=DjVu-Баримт
Comment[ms]=Dokumen DjVu
Comment[mt]=Dokument DjVu
Comment[nb]=DjVu-dokument
Comment[nds]=DjVu-Dokment
Comment[nl]=DjVu-document
Comment[nn]=DjVu-dokument
Comment[nso]=Tokomane ya DjVu
Comment[pl]=Dokument DjVu
Comment[pt]=Documento DjVu
Comment[pt_BR]=Documento DjVu
Comment[ro]=Document DjVu
Comment[ru]=Документ DjVu
Comment[se]=DjVu-dokumeanta
Comment[sk]=DjVu dokument
Comment[sl]=Dokument DjVu
Comment[sr]=DjVu документ
Comment[sv]=DjVu-dokument
Comment[ta]=DjVu ஆவணம்
Comment[tg]=Хуҷҷати DjVu 
Comment[tr]=DjVu Belgesi
Comment[uk]=Документ DjVu
Comment[uz]=DjVu ҳужжати
Comment[ven]=Manwalwa a DjVu
Comment[wa]=Documint DjVu
Comment[xh]=Uxwebhu lwe DjVu
Comment[xx]=xxDjVu Documentxx
Comment[zh_CN]=DjVu 文档
Comment[zh_TW]=DjVu 文件
Comment[zu]=Uhlu lwamafayela e-DjVu
