
#include "VersionConfig"
#include "mdimporter/MDImporterVersion"

ARCHS = $(NATIVE_ARCH)

FRAMEWORK_VERSION = $(DYLIB_CURRENT_VERSION)

COPY_PHASE_STRIP = NO

PREBINDING = NO
ZERO_LINK = YES

DEBUG_INFORMATION_FORMAT = dwarf

OTHER_CFLAGS = -DHAVE_CONFIG_H -DNDEBUG -DTHREADMODEL=POSIXTHREADS -I$(SOURCE_ROOT)/../..
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS)

OTHER_LDFLAGS = $(VersionLDFLAGS)

GCC_ENABLE_PASCAL_STRINGS = NO
GCC_CW_ASM_SYNTAX = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREFIX_HEADER = 
GCC_PRECOMPILE_PREFIX_HEADER = NO
