<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>djvu</string>
				<string>djv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DjVu file</string>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.djvu.DjView</string>
				<string>org.djvuzone.djvulibre.djvu</string>
				<string>com.lizardtech.djvu</string>
				<string>public.djvu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${MDIMPORTER_VERSION}, Copyright Corpus Callosum Corporation 2006</string>
	<key>CFBundleIdentifier</key>
	<string>org.djvuzone.djvulibre.MDImporter.DjVu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME} Importer for Spotlight</string>
	<key>CFBundleShortVersionString</key>
	<string>${MDIMPORTER_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${DYLIB_CURRENT_VERSION}</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>200A2D97-B602-4FAB-84DA-18DE40383D7C</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>200A2D97-B602-4FAB-84DA-18DE40383D7C</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.djvuzone.djvulibre.djvu</string>
				<string>com.lizardtech.djvu</string>
				<string>public.djvu</string>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DjVu File</string>
			<key>UTTypeIdentifier</key>
			<string>org.djvuzone.djvulibre.djvu</string>
			<key>UTTypeReferenceURL</key>
			<string>http://djvulibre.djvuzone.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AT&amp;T</string>
				<key>public.filename-extension</key>
				<array>
					<string>djvu</string>
					<string>djv</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.lizardtech.djvu</string>
				<string>org.djvuzone.djvulibre.djvu</string>
				<string>public.djvu</string>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DjVu File</string>
			<key>UTTypeIdentifier</key>
			<string>com.lizardtech.djvu</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.lizardtech.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>AT&amp;T</string>
				<key>public.filename-extension</key>
				<array>
					<string>djvu</string>
					<string>djv</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
