
#include "VersionConfig"
#include "mdimporter/MDImporterVersion"

ARCHS = ppc i386

FRAMEWORK_VERSION = $(DYLIB_CURRENT_VERSION)

COPY_PHASE_STRIP = YES

PREBINDING = NO
ZERO_LINK = NO

DEBUG_INFORMATION_FORMAT = dwarf

OTHER_CFLAGS = -DHAVE_CONFIG_H -DNDEBUG -DTHREADMODEL=POSIXTHREADS -I$(SOURCE_ROOT)/../..
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS)

OTHER_LDFLAGS = $(VersionLDFLAGS)

GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_CW_ASM_SYNTAX = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_PREFIX_HEADER = 
GCC_PRECOMPILE_PREFIX_HEADER = NO
